
$white: #fff;
$danger: #CC0000;
$dark: #202020;

@import './bootstrap-reboot';
// @import 'fonts';
// @import 'buttons';
// @import 'dropdown';
// @import 'titles';
@import 'slick';
// @import 'switchers';
// @import 'rangeslider';
// @import 'colorpicker';
:focus,
:active {
  outline: none !important;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  height: 100%;
  color: $dark;
}
img,
video {
  max-width: 100%;
}
.wrapper {
  overflow-x: hidden;
}
.container {
  max-width: 1154px;
  margin: 0 auto;
  width: 100%;
  &.d-flex {
    align-items: center;
  }
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.main {
  padding-top: 80px;
  &-section {
    min-height: calc(100vh - 80px);
    background: url("../img/Background.png");
    background-position: center top;
    background-size: cover;
    align-items: center;
    padding-top: 180px;
  }
  &-title {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 32px;
    line-height: 44px;
    max-width: 563px;
    margin-left: auto;
    margin-right: auto;
    &_white {
      color: $white;
    }
  }
  &-btn {
    width: 163px;
    height:48px;
    margin-top: 33px;
  }
  &-info {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
  }
  &-price {
    color: $white;
    margin-right: 15px;
  }
  &-sale {
    text-decoration-line: line-through;
    color: rgba(255, 255, 255, 0.33);
  }
}
.header {
  
  &-total {
    padding-bottom: 12px;
    
    display: flex;
    justify-content: space-between;
    &_price {
      font-weight: 600;
      font-size: 16px;
    }
  
  }
  &-subtotal {
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.33);

  }
  &-section {
    background-color: $white;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.05);
    &_fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 98;
    }
  }
  &-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    &_toggle {
      display: none;
    }
  }
  &-link {
    font-family: sans-serif;
    margin-left: 67px;
    color: $dark;
    font-weight: 500;
    font-size: 21px;
    &_danger {
      color: $danger;
      text-transform: uppercase;
    }
    &:last-child {
      margin-left: 32px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  &-search {
    margin-left: 40px;
    margin-right: 24px;
  }
  &-form {
    display: none;
  }
  &-checkout {
    position: relative;
  }
  &-badge {
    position: absolute;
    text-align: center;

    &_danger {
      background-color: $danger;
      color: $white;
    }
  }
  &-salebox {
      
      
      width: 360px;
      background-color: $white;
  
      transition: .3s all ease-in;
      &.active {
        display: block;
        right: 0;
        &::after {
          right: 360px;
          left: 0;
        }
      }
    &_process {
      background: #F4F4F4;
      padding-top: 19px;
      padding-bottom: 15px;
      z-index: 5;
      padding-left: 18px;
      padding-right: 18px;
    }
    &_top {
      background-color: #F4F4F4;
      height: 53px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 12px;
      padding-left: 20px;
      padding-right: 18px;

    }
  
    &_count {
      color: #B4B4B4;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 16px;
    }
    &_fixed {
      position: fixed;
      right: -200%;
      top: 0;
      bottom:0;
      left: auto;
      z-index: 99;
      
      
      &::after {
        content: '';
        display: block;
        position: fixed;
        left: -200vw;
        right: auto;
        top: 0;
        bottom: 0;
        background: #131824;
        opacity: .8;
        width: calc(100vw - 360px);
        z-index: -99;
        transition: .3s all ease-in;
      }
    }
    &_content {
      overflow-y: auto;
      min-height: 200px;
      height: calc(100% - 166px);
    }
  }
  &-items {
    height: 100%;
    padding-top: 18px;
  }
  &-item {
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.05);
    &_img {
      min-width: 64px;
      min-height: 64px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
    }
    &_title {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.33);
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 12px;
      margin-top: 10px;
    }
  }
  &-process {
    &_cart {
      width: 119px;
      height: 48px;
      font-size: 16px;
      font-weight: 600;
    }
    &_checkout {
      width: 190px;
      height: 48px;
      margin-left: 15px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &-pay {
    display: flex;
  }
  &-price {
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
    &_danger {
      color: $danger;
    }
  }
  &-sale {
    font-size: 16px;
    color: #B4B4B4;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.33);
  }
  &-counter {
    display: flex;
    align-items: center;
  }
  &-input {
    width: 61px;
    height: 32px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
    border: 1px solid #D8D8D8;
    text-align: center;
    font-size: 13px;
    background-color: $white;
  }
  &-dec {
    height: 32px;
    width: 32px;
    background-color: $white;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
    border: 1px solid #D8D8D8;
    padding: 0;
  
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
  }
  &-inc {
    height: 32px;
    width: 32px;
    background-color: $white;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
    border: 1px solid #D8D8D8;
    padding: 0;
   
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: .3s all ease;
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
  &-danger {
    background-color: $danger;
    color: $white;
    border: 1px solid #950000;
    box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
    &:hover {
      color: $white;
    }
  }
  
  &-dark {
    border:  1px solid $dark;
    background-color: $dark;
    color: $white;
    &_outline {
      background-color: $white;
      color: $dark;
      &:hover {
        color: $dark;
      }
    }
  }

}
.product {
  &-section {
    padding-top: 20px;
    & .container {
      align-items: flex-start;
    }
  }
  &-form {
    &_dec {
      height: 48px;
      width: 44px;
      background: $white;
      border: 1px solid #D8D8D8;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
      border-radius: 4px 0px 0px 4px;
    }
    &_inc {
      height: 48px;
      width: 44px;
      background: $white;
      border: 1px solid #D8D8D8;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
      border-radius: 0px 4px 4px 0px;
    }
    &_input {
      width: 63px;
      height: 48px;
      text-align: center;
      background: $white;
      border: 1px solid #D8D8D8;
      box-sizing: border-box;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
    }
    &_counter {
      display: flex;
      align-items: center;
    }
    &_add {
      width: 262px;
      height: 48px;
      margin-left: 15px;
    }
  }
  &-description {
    padding-top: 46px;
    &_title {
      font-weight: 600;
    }
    &_text {
      & p {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }
  &-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  &-title {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: normal;
    margin-bottom: 38px;
  }
  &-label {
    font-size: 21px;
    line-height: 26px;
    color: #000;
    margin-bottom: 8px;
    display: block;
    font-weight: 600;
  }
  &-select {
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    width: 293px;
    height: 48px;
    padding-left: 12px;
    font-size: 12px;
    font-weight: normal;
    appearance: none;
    padding-right: 25px;
    background-image: url("../img/chevron.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }
  &-price {
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: $danger;
    margin-top: 18px;
    margin-bottom: 34px;
  }
  &-tax {
    font-size: 13px;
    color: #232231;
    position: relative;
    top: -21px;
    margin-left: 5px;
  }
  &-slider {
    max-width: 659px;
    width: 100%;
    &_top {
      margin-bottom: 16px;
      max-height: 524px;
      & .slick-prev {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        z-index: 5;
        font-size: 0;
        color: transparent;
        width: 48px;
        border: none;
        background-color: #21212133;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 13px;
          height: 13px;
          border-left: 2px solid $white;
          border-top: 2px solid $white;
          z-index: 5;
          transform: rotate(-45deg);
          left: calc(50% - 6.5px);
          top: calc(50% - 6.5px);
        }
      }
      & .slick-next {
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        z-index: 5;
        font-size: 0;
        color: transparent;
        width: 48px;
        border: none;
        background-color: #21212133;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 13px;
          height: 13px;
          border-right: 2px solid $white;
          border-top: 2px solid $white;
          z-index: 5;
          transform: rotate(45deg);
          left: calc(50% - 6.5px);
          top: calc(50% - 6.5px);
        }
      }
    }
    &_bottom {
      max-width: 240px;
      &__thumb {
        width: 64px;
        height: 64px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@import 'media'